body {
    font-family: Arial, sans-serif;
    background-color: rgb(135, 4, 191);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    overflow-y: auto;
    max-height: 90vh;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(134, 130, 135, 0.616);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: black;
    border-radius: 10px;
}

.logoQuartier {
display: flex;
justify-content: center;
padding: 0%;

.quartier {
    box-shadow: #333;
}
}

h1, h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, button {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(135, 4, 191);
    border-radius: 15px;
    font-size: 16px;
    margin-top: 5px;
}

button {
    background-color: rgb(135, 4, 191);
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: rgba(135, 4, 191, 0.82);
}

.facturas {
    margin-top: 20px;
}

.factura {
    border: 2px solid rgb(135, 4, 191);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.factura p {
    margin: 5px 0;
}

.total {
    margin-top: 20px;
    text-align: center;
}